# Path to app that will be used to configure unicorn,
@dir = "{{ web_app_path }}/{{ web_app_name }}/"

worker_processes 2
working_directory @dir

timeout 30

# Specify path to socket unicorn listens to,
listen "#{@dir}shared/sockets/unicorn.sock", :backlog => 64

# Set process id path
pid "#{@dir}shared/pids/unicorn.pid"

# Set log file paths
stderr_path "#{@dir}log/unicorn.stderr.log"
stdout_path "#{@dir}log/unicorn.stdout.log"

